/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.form-control:focus,
.form-check-input:focus {
  border-color: none; /* Set this to your preferred default border color */
  outline: 0;
  box-shadow: none;
}
